.videoCard {
  margin-bottom: 40px;
  width: 270px;
}

.videoCard__thumbnail {
  height: 180px;
  width: 215px;
}

.videoCard__info {
  display: flex;
  padding-top: 10px;
  padding-right: 30px;
  /* align-items: center; */
}

.videoCard__text {
  margin-left: 15px;
}

.videoCard__text > h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.videoCard__text > p {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

.videoCard_avatar {
  height: 40px !important;
  width: 40px !important;
}
